{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'simulate/style.css' %}"/>
<title>Error</title>
<link rel="icon" type="image/png" href="{% static 'simulate/kirbo.png' %}">
</head>
<html class="body">
<header>
</header>
<hr>
<center>
<h2>Oh no, it appears there was an error):</h2>
<p>
{{ ErrorMessage }}
</p>
<img src="{% static 'simulate/Error_kirbo.jpg' %}">
<h3>Complete error log</h3>
<p>
    {{ errorLog }}
</p>
</center>
</html>