{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'simulate/style.css' %}"/>
<script type="text/javascript" src="{% static 'simulate/script.js' %}"></script>
<title>FFXIVCALC v1.3.0</title>
<link rel="icon" type="image/png" href="{% static 'simulate/kirbo.png' %}">
<style>
    body {
      overflow-x: hidden;
      overflow-y: hidden;
    }
  </style>
<script>
checkVersion("v1.3.0");
</script>
</head>
<html class="body" style="width: 650px;">
<header>

    <div class="marginHeader">
    <div style="display: flex;
    align-items: center;
    position: relative;">
        <img src="{% static 'simulate/kirbo.png' %}" width="40" height="40" title="github" style="margin-right: 5px;">
        <p>FFXIVCALC App v.1.3.0</p>
       
    </div>
    </div>
    <p class="underText">ffxivcalc version : {{ ffxivcalcVersion }}</p>
</header>
<hr>
    <p style="color: red;" id="outDatedText"></p>
    <p class="underText">This app is still in active developement. If you enconter any please let me know through the discord!:)</p>
    <div class="body">
        <div class="middleText left">
            <div>
                <p>Simulate a fight :</p>
                <button class="basicButton bigbutton" onclick="openSimulation()">
                    Open fight editor
                </button>
                
            </div>
            <div>
                <p>Import a fight from FFLogs :</p>
                <button class="basicButton bigbutton" onclick="importFromFFLogs()">
                    Open import menu
                </button>
                <p class="underText">Import a fight from FFLogs and save it. Then import the saved JSON file in the fight editor to simulate it.</p>
            </div>
            <div>
                <p>Use the rotation BiS solver (beta) :</p>
                <button class="basicButton bigbutton" onclick="openSolver()">
                    Open the solver
                </button>
                <p class="underText">Note that the results might not be optimal and it is always better to recheck the damage using another DPS metric (to compare to another bis). You can read more about the testing of this solver and the results it gave on the github repo.</p>
            </div>
        </div>
    </div>
    <p>Other relevant links :</p>
    <div class="menu" style="width: 200px;" onclick="openGitHub()">
        <img src="{% static 'simulate/github.png' %}" width="40" height="40" title="github" style="margin-right: 5px;">
        <p>GitHub repository</p>
    </div>
    <div class="menu" style="width: 200px;" onclick="openDiscord()">
        <img src="{% static 'simulate/discord.svg' %}" width="40" height="40" title="github" style="margin-right: 5px;">
        <p>Join the discord</p>
    </div>
    <!-- <div class="menu" style="width: 200px;" onclick="openMore()">
        <img src="{% static 'simulate/More.png' %}" width="40" height="40" title="github" style="margin-right: 5px;">
        <p>Read more/about other simulators</p>
    </div> -->
    <hr>
    <footer class="footingText">
        <p><left>
            Made by Leonhard Euler @ Gilgamesh and <a class="link" onclick="openCredit()">others</a>. 
        </left></p>
        <p class="underText" style="size: 2px;">This app's icon was adapted from the work of TerminalMontage. I do not own the original art.</p>
    </footer>
</html>