{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'simulate/style.css' %}"/>
<script type="text/javascript" src="{% static 'simulate/solverLoadingScript.js' %}"></script>
<title>Solver loading</title>
<link rel="icon" type="image/png" href="{% static 'simulate\kirbo.png' %}">
</head>
<html class="body">
<header>
<h3>
BiS rotation solver
</h3>
</header>
<hr>
<div>
    <p>The solver is currently working. Please be patient, this could take a few minutes.</p>
    <p class="underText">The results will automatically be shown once the solver is done.</p>
</div>
<div style="    background-color: black;left: 10px;width: 1000px;border-radius: 5px;border: 2px solid white;">
    <p id="progressBar"></p>
</div>
{% if isSearchPattern %}
<div ><p id="curSearchPattern" style="color:red;">The solver is doing a search pattern. It will run multiple instance and return the best result. This will take a couple of minutes.</p></div>
{% endif %}

</html>